body {
    background-color: rgb(0, 0, 128, 0.6);
    border-bottom: 2px solid black;
} 

/*
h1.header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-color: #7FFF00;
    color:#7FFF00;
    background-color: #1C6EA4;
    text-align: center;
}

h2 {
  color: #7FFF00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black;
  padding: 25px;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}

  img {
    height: auto;
    width: 500px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
  }

  p,h6 {
    text-align: center;
  }

  #ingredients {
      list-style: square;
  }